#div_fon
{
position:fixed;
width:100%;
height:100%;
background-image:url(fon.jpg);
overflow:scroll;
}
#head
{
position:relative;
width:940px;
height:150px;
background:linear-gradient(280deg,rgba(255,0,0,0.5),rgba(255,255,0,0.5));
top:50px;
}
#div_left
{
position:relative;
width:200px;
height:1025px;
background:linear-gradient(280deg,rgba(255,0,0,0.5),rgba(255,255,0,0.5));
margin-right:10px;
float:left;
top:55px;
}
#div_cont
{
position:relative;
width:900px;         
height:900px;
background:transparent;
top:50px;
margin-right:10px; 
}
#div_right
{
position:relative;
width:690px;
height:985px;
background:linear-gradient(280deg,rgba(255,0,0,0.5),rgba(255,255,0,0.5));
margin-left:210px;
top:105px;
padding:20px;
}
#div_right1
{
position:relative;
width:897px;
height:985px;
background:linear-gradient(280deg,rgba(255,0,0,0.5),rgba(255,255,0,0.5));
margin-left:210px;
top:45px;
padding:20px;
right:22%;
}
#div_photo1
{
top:15px;
left:15px;
}
#div_photo2
{
position:relative;
left:50px;
top:50px;
}
#div_article
{
position:relative;
width:690px;
height:40px;
background-color:white;
}
#div_article2
{
position:relative;
width:850px;
height:40px;
background-color:white;
}
#div_article3
{
position:relative;
width:750px;
height:40px;
background-color:white;
}
#div_article4
{
position:relative;
width:750px;
height:40px;
background-color:white;
top:5px;
}
#div_article5
{
position:relative;
width:750px;
height:40px;
background-color:white;
top:15px;
}
#div_article1
{
position:relative;
width:94.2%;
padding-top:5px;
padding-left:20px;
padding-right:20px;
background-color:white;
top:5px;
overflow:scroll;
}
#div_menu
{
position:relative;
width:940px;
height:40px;
background-color:white;
margin-top:10px;
}
#div_men1
{
position:relative;
width:234px;
height:40px;
border-right:1 solid red;
float:left;
font-size:130%;
color:red;
}
#div_men2
{
position:relative;
width:234px;
height:40px;
border-right:1 solid red;
float:left;
font-size:130%;
color:red;
}
#div_men3
{
position:relative;
width:234px;
height:40px;
border-right:1 solid red;
float:left;
font-size:130%;
color:red;
}
#div_men4
{
position:relative;
width:234px;
height:40px;
border-right:1 solid red;
float:left;
font-size:130%;
color:red;
}
#div_h
{
position:relative;
width:100%;
height:6%;
background-color:red;
color:white;
text-align:center;
border-bottom:1 solid white;
}

#div_h1
{
position:relative;
width:100%;
height:6%;
background-color:red;
color:white;
text-align:center;
border:1 solid white;
}
#menu_left
{
position:absolute;
width:100%;
height:40px;
border-bottom:2px solid white;
font-size:110%;
}
#menu_left1
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:4.1%;
}
#menu_left2
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:8.2%;
}
#menu_left3
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:12.3%;
}
#menu_left4
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:16.4%;
}
#menu_left5
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:115%;
top:20.5%;
}
#menu_left6
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:24.6%;
}
#menu_left7
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:28.7%;
}
#menu_left8
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:32.8%;
}
#menu_left9
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:36.9%;
}
#menu_left10
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:41%;
}
#menu_left11
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:45.1%;
}
#menu_left12
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:49.2%;
}
#menu_left13
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:53.3%;
}
#menu_left14
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:57.4%;
}
#menu_left15
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:61.5%;
}
#menu_left16
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:65.6%;
}
#menu_left17
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:69.7%;
}
#menu_left18
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:73.8%;
}
#menu_left19
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:77.9%;
}
#menu_left20
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:82%;
}
#menu_left21
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:86.1%;
}
#menu_left22
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:90.2%;
}
#menu_left23
{
position:absolute;
width:100%;
height:38px;
border-bottom:2px solid white;
font-size:120%;
top:94.3%;
}
}
#div_article
{
position:relative;
width:690px;
height:40px;
background-color:white;
}
#div_article1
{
position:relative;
width:94.2%;
padding-top:5px;
padding-left:20px;
padding-right:20px;
background-color:white;
top:5px;
overflow:scroll;
}